absl-py==0.9.0
astor==0.8.1
attrs==19.3.0
Automat==20.2.0
constantly==15.1.0
Cython==0.29.14
darkflow==1.0.0
devioc==2019.7.2
gast==0.2.2
gepics==2019.7.1
google-pasta==0.2.0
grpcio==1.27.2
h5py==2.10.0
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.2.1
numpy==1.18.0
opencv-python==4.1.2.30
opt-einsum==3.2.0
protobuf==3.11.3
pycairo==1.19.1
pyepics==3.4.1
PyGObject==3.36.1
PyHamcrest==2.0.2
redis==3.4.1
six==1.14.0
tensorboard==1.15.0
tensorflow-cpu==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
Twisted==20.3.0
Werkzeug==1.0.0
wrapt==1.12.1
zope.interface==5.1.0
